# Ignore thumbnails created by Windows:
Thumbs.db

# Ignore below folders (build results) in Visual Studio/RAD Studio:
__history/
__recovery/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ww]in64/
[Ww]in32/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
