# Ignore thumbnails created by Windows:
Thumbs.db

# Ignore below folders (build results) in Visual Studio/RAD Studio:
__history/
__recovery/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ww]in32/*.zip
[Ww]in32/[Bb]in/
[Ww]in32/[Dd]ebug/
[Ww]in32/[Rr]elease/
[Ww]in64/*.zip
[Ww]in64/[Bb]in/
[Ww]in64/[Dd]ebug/
[Ww]in64/[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/
