10 RCDATA "_makefile\\$_ResFiles\\general.def"
30 RCDATA "_makefile\\$_ResFiles\\libeay32.dll"
40 RCDATA "_makefile\\$_ResFiles\\ssleay32.dll"
50 RCDATA "_makefile\\$_ResFiles\\vsinit.dll"
60 RCDATA "_makefile\\$_ResFiles\\logon.log"
