10 RCDATA "08_Makefile\\$_ResFiles\\general.def"
20 RCDATA "08_Makefile\\$_ResFiles\\logon.def"
30 RCDATA "08_Makefile\\$_ResFiles\\libeay32.dll"
40 RCDATA "08_Makefile\\$_ResFiles\\ssleay32.dll"
50 RCDATA "08_Makefile\\$_ResFiles\\vsinit.dll"
60 RCDATA "08_Makefile\\$_ResFiles\\logon.log"
